
 <% content_for :head do %>   <meta name="turbolinks-visit-control" content="reload" /> <% end %> 

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
<div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <form class="form" method="" action="">
              <div class="card card-login">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Login</h4>
                  <div class="social-line">
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body ">
                  <p class="card-description text-center">Or Be Classical</p>
               
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email..." %>
                      
                    </div>
                  </span>
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                       <%= f.password_field :password, autocomplete: "current-password", type: "password", class: "form-control", placeholder: "Password..." %>
                     
                    </div>
                  </span>
                  
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  
                </div>
                <div class="card-footer justify-content-center">
                  <p>
                   <%= render "devise/shared/links" %>
                  </p> 
                  <%= f.submit "Log in", class:  "btn btn-rose btn-link btn-lg"%>
                 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

<% end %>