
<!DOCTYPE html>
<html>



<body>
	

	<div class="wrapper">
		

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="row">


     <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">

             <%= image_tag current_user.avatar %>

            </a>


          </div>
            <div class="user-specs">
              <h3>John Doe</h3>
              <span>Graphic Designer at Self Employed</span>
          </div>

          <ul class="user-fw-status">
      <li>
        <h4>Following</h4>
        <span>34</span>
      </li>
      <li>
        <h4>Followers</h4>
        <span>155</span>
      </li>
      <li>

        <a href="#" title="">View Profile</a>
      </li>
             <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
    </ul>


       </div>

                  
</div>
               
                  
          
                
<div class="col-6">
  <div class="post-topbar">
  <div class="user-picy">
  
        <%= image_pack_tag "media/images/blogwrite.png" %>
  </div>
  <div class="post-st">
    <ul>
  
      <li> <%= link_to 'New Blog', new_post_path, class: "post_project" %></li>
      <li><a class="post-jb active" href="#" title="">Post a Job</a></li>
    </ul>
  </div><!--post-st end-->
  </div> 
                  
                  <% @posts.each do |post| %>

                     <div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
												
                           <%= image_tag current_user.avatar, class: "usy-dt"%>
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="images/clock.png" alt="">3 min ago</span>
                            
													</div>
												</div>
												<div class="ed-opts">
													
                              <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                 <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

                                  <p class="d-lg-none d-md-block">
                                    Some Actions
                                  </p>
                                <div class="ripple-container"></div></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <%= link_to 'View More..', post, class: "dropdown-item"%>
                                   <%= link_to 'Edit', edit_post_path(post), class: "dropdown-item"%> 
                                  <%= link_to  'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item"%>
                                </div>
                              </li>
												</div>
											</div>
											
                       <div class="epi-sec">
												<ul class="descp">
													<li><img src="images/icon8.png" alt=""><span>Epic Coder</span></li>
													<li><img src="images/icon9.png" alt=""><span>India</span></li>
												</ul>
												<ul class="bk-links">
													<li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
													<li><a href="#" title=""><i class="la la-envelope"></i></a></li>
												</ul>
											</div>
											
                       
                       <div class="job_descp">
												<h3><%= post.title %></h3>
												<ul class="job-dt">
													<li><a href="#" title="">Full Time</a></li>
													<li><span>$30 / hr</span></li>
												</ul>
												<p><%= post.description %> <%= link_to 'view more', post %></p>
												<ul class="skill-tags">
													<li><a href="#" title="">HTML</a></li>
                            <%= link_to 'Show', post, class:"btn btn-default btn-link", type: "button",  rel:"tooltip",  dataplacement:"bottom"%>
                            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-success btn-link", type: "button",  rel:"tooltip",  dataplacement:"bottom"%> 
                            <%= link_to  'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-link", type: "button",  rel:"tooltip",  dataplacement:"bottom" %>

													<li><a href="#" title="">PHP</a></li>
													<li><a href="#" title="">CSS</a></li>
													<li><a href="#" title="">Javascript</a></li>
													<li><a href="#" title="">Wordpress</a></li> 	
												</ul>
											</div>
										
                       <div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#"><i class="la la-heart"></i> Like</a>
														<img src="images/liked-img.png" alt="">
														<span>25</span>
													</li> 
													<li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comment 15</a></li>
												</ul>
												<a><i class="la la-eye"></i>Views 50</a>
											</div>
								                    
                    </div>
                  
                   <% end %>
                </div>
               
               
  
                <div class="col-3">
                  <div class="card">
                    <div class="card-body text-center">
                      <code>col-3</code>
                      
                    </div>
                  </div>
                </div>
   </div>




            
<br>



